html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: $black;
  color: $white;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: $white;
}
#app {
  position: relative;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  padding-top: 63px;
  text-align: center;
}

button {
  font-size: 18px;
  border: 1px solid $gray;
  padding: 12px 18px;
  margin: 3px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background: none;
  color: $white;
  &:hover {
    background: $gray;
    color: $white;
  }
  &.save {
    background: $darkblue;
    &:hover {
      background: $blue;
    }
  }
  &.delete {
    cursor: pointer;
    &:hover {
      color: $red;
    }
  }
  &.step {
    &__shopping {
      color: $lightblue;
      border-color: $lightblue;
      &:hover {
        color: $white;
        background: $lightblue;
      }
    }
    &__primary {
      border: none;
      background: $lightblue;
      &:hover {
        background: $blue;
      }
    }
    &__danger {
      background: $red;
      &:hover {
        background: $darkred;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 30%;
  left: 50%;
  width: 330px;
  height: 219px;
  background: $black;
  border: 1px solid $gray;
  margin-left: -165px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  > div {
    width: 100%;
  }
  > button {
    width: 39%;
    border-radius: 0;
  }
}

.text {
  &-success {
    color: $green;
  }
  &-failure {
    color: $red;
  }
}
table {
  border-collapse: collapse;
}
th {
  padding: 6px;
}
td {
  padding: 3px 0;
}
tr {
  border-bottom: 1px solid $gray;
}
