.dashboard {
  display: flex;
  min-height: calc(100vh - 66px);
  @include phone-width {
    flex-direction: column;
  }
  &-action {
    max-width: 180px;
    width: 100%;
    border-right: 1px solid $gray;
    background: $lightgray;
    @include phone-width {
      max-width: none;
      border-right: none;
      border-bottom: 1px solid $gray;
      padding-top: 9px;
    }
    h3 {
      @include phone-width {
        margin: 0;
      }
    }
    ul {
      @include phone-width {
        display: flex;
        justify-content: center;
      }
      li {
        a {
          display: block;
          text-align: left;
          padding: 9px 18px;
          @include phone-width {
            padding: 9px 6px;
          }
          &:hover {
            color: $lightblue;
          }
        }
        a.router-link-active {
          color: $blue;
        }
        @include phone-width {
          padding: 3px;
        }
      }
    }
  }
  &-view {
    width: 100%;
    background: $lightgray;
    @include phone-width {
      min-height: calc(100vh - 66px - 89px);
    }
    h1 {
      word-wrap: break-word;
    }
    table {
      word-break: break-all;
      word-wrap: break-all;
      margin: 0 auto;
      box-sizing: border-box;
    }
  }
}
svg {
  margin-right: 3px;
}
button {
  &.new {
    &:hover {
      background: $blue;
    }
  }
  &.edit {
    background: $gray;
    padding: 6px 12px;
  }
  &.delete {
    background: $red;
    padding: 6px 12px;
    &:hover {
      color: $white;
    }
  }
}
