h1{
    word-wrap: break-word
  }
  $phone-media:480px;
  @mixin phone-width(){
     @media all and (max-width: $phone-media){
       @content
     }
  }
  .dashboard {
    display: flex;
    justify-content: center;
    @include phone-width{
      display: block;
      }
    &-action {
      max-width: 180px;
      width: 100%;
      border-right: 1px solid gray;
      @include phone-width{
        max-width: none;
        border:none
      }
    }
    &-view {
      width: 100%;
      min-width: 240px;
      table {
        word-break:break-all; word-wrap:break-all;
        margin: 0 auto;
        box-sizing: border-box
      }
    }
    ul{
      @include phone-width{
        display: flex;
        justify-content: center;
      }
    }
    li {
      height: 30px;
      @include phone-width{
        padding: 3px;
      }
    }
  }