.home {
  text-align: center;
  padding-bottom: 45px;
  main {
    display: flex;
    justify-content: center;
  }
  .type {
    max-width: 210px;
    width: 100%;
    padding: 9px 0;
    ul {
      max-width: 150px;
      margin: 0 auto;
      padding: 1%;
    }
  }
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

#popup {
  top: 69px;
  right: 30px;
  position: fixed;
  z-index: 1;
  div {
    width: 210px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #17181c;
    border: 1px solid gray;
    z-index: 1;
    margin: 6px 0;
  }
}

@media (max-width: 535px) {
  .home {
    main {
      display: block;
    }
    .type {
      max-width: 100%;
      width: 100%;
      padding: 9px 0;
      ul {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        margin: 0;
        padding: 0;
        align-items: center;
        .list-type {
          padding: 15px;
        }
      }
    }
  }
  .products {
    justify-content: center;
  }
}
