.home {
  text-align: center;
  padding-bottom: 45px;
  main {
    display: flex;
    justify-content: center;
  }
  ul {
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
    padding: 1%;
  }
  .products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
  }
}

#popup {
  top: 69px;
  right: 30px;
  position: fixed;
  z-index: 1;
  div {
    width: 210px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $black;
    border: 1px solid $gray;
    z-index: 1;
    margin: 6px 0;
  }
}

@media (max-width: 535px) {
  .home {
    main {
      display: block;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      max-width: 100%;
      .list-type {
        padding: 9px;
        margin: 3px;
      }
    }
  }
  .products {
    justify-content: center;
  }
}
