.cart {
  &-header {
    display: flex;
    justify-content: center;
    padding-top: 9px;
    div {
      padding: 2% 3%;
    }
  }
  &-information {
    max-width: 750px;
    margin: 0 auto;
  }
  &-item {
    height: 90px;
    border-bottom: 1px solid $gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    &__action {
      width: 120px;
      span {
        cursor: pointer;
        &:hover {
          color: $red;
        }
      }
    }
    &__name {
      width: 210px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      div {
        margin: 0 auto;
      }
    }
    &__quantity {
      width: 120px;
    }
    &__price {
      width: 120px;
    }
    &__total {
      width: 120px;
    }
    img {
      width: 90px;
      @include phone-width {
        width: 60px;
      }
    }
  }
  &__empty {
    img {
      padding-top: 15px;
      width: 270px;
    }
  }
  &-action {
    width: 100%;
    max-width: 810px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
    margin: 0 auto;
  }
}
.total-price {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
.discount {
  color: $green;
}
