.card {
  position: relative;
  width: 105px;
  height: 150px;
  margin: 3px;
  transition: 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
  &-front {
    transform: rotateY(180deg);
  }
  &-front,
  &-back {
    position: absolute;
    transition: 0.6s;
    z-index: 1;
  }
  img {
    width: 105px;
  }
}
.flip {
  transform: rotateY(180deg);
  .card-front {
    z-index: 99;
    transition: 0.6s;
  }
}
