$red: rgb(182, 0, 12);
.product {
  min-width: 231px;
  height: 300px;
  margin: 1%;
  border-radius: 5px;
  padding: 9px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &:hover {
    box-shadow: 0 4px 8px 0 rgb(0, 255, 128), 0 6px 20px 0 rgb(0, 255, 128);
  }
  img {
    width: 180px;
    &:hover {
      transform: scale(1.2);
    }
  }
}
.add {
  color: rgb(255, 0, 0);
  border-color: $red;
  &:hover {
    color: white;
    background: $red;
  }
}
